/*
    The float property is used for positioning and formatting content. The float property can have one of the following values;
    
    1- left -> The element floats to the left of its container
    2- right -> to the right of its corner.
    3- none -> Default. The element does not float.
    4- inherit -> The element inherits the float value of it parent.

    How we can change layout of HTML;
        - display -> inline, inline-bloc, block
        - position -> absolute, relative, fixed, sticky
        - float -> left, right, none
        - display -> flex
        - display -> grid -CSS grid-
*/

* {
  margin: 0;
}

.img-float {
  width: 30%;
  float: left;
  margin-right: 0.8rem;
}

.par-1 {
  border: 1px solid red;
}

.clearfix {
  clear: both;
  /* to remover float property.*/
  /* Her iki yondeki float akisini temizler - both */
}

/*.main-div {
  width: 400px;
}*/

.box {
  float: left;
  font-size: 2rem;
}

.box-1 {
  background-color: aquamarine;
  width: 40%;
}

.box-2 {
  background-color: magenta;
  width: 35%;
}

.box-3 {
  background-color: purple;
  width: 25%;
}

.center {
  text-align: center;
}
