* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-variant: small-caps;
    color: orange;
    background-color: rgba(10, 57, 45);
  }

  #brand {
    width: 50px;
  }
  nav {
    background-color: lightgrey;
    position: sticky;
    top:0px;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding-left: 40px;
    vertical-align: middle;
  
    /* float:right; */
  }
  a {
    text-decoration: none;
  }
  .avatar {
    width: 50px;
  }

  .comments-container{
    background-color: black;
    color:white;
    padding:1rem;
  }

  .comment-left{
    width: 60%;
  }
  
  .comment-header{
    position: relative;
    left:1rem;
  }
 
  .comments{
    margin:1rem;
    border-radius: 20px;
    padding:1rem;
    width: 80%;
    height:6rem;
    position: relative;
   overflow: auto;
  }

  .dark{
    background-color:  rgba(10, 57, 45);;
  }

  .light{
    border:2px solid  rgba(10, 57, 45);
  }
  .comments-container{
    position: relative;
  }

  .comment-right{
    background-color:rgba(10, 57, 45); ;
    width: 30%;
    position:absolute;
    top:64px;
    right:20px;
    padding: 1rem;
    border-radius:1rem;
   
  }
 .comment{
    position: absolute;
    top:0px;
    left:5rem;
   
  } 




  label {
    color: white;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  textarea {
    width: 100%;
    resize: none;
  }
  input {
    width: 100%;
  }
  button {
    background-color: orange;
    border-radius: 1rem;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
  }
  
  .comment-cards {
    position: relative;
    background-color: black;
  }
  .image1 {
    width: 20%;
  }
  
  .image2 {
    width: 20%;
    position: absolute;
    left: 3rem;
    top: 3rem;
  }
  .image3 {
    position: absolute;
    z-index: 10;
  }
  