p {
  font-size: 20px;
  color: purple;
}

div.solid {
  background-color: rgb(188, 188, 224);
  margin: auto;
  text-align: center;
  border: 10px solid rgb(238, 154, 154);
}

img {
  margin: auto;
  background-color: antiquewhite;
}
