* {
  box-sizing: border-box;
  margin: 0.5rem;
}

/** Descendant Selector */
/*! All p elements inside of the box class*/
.box p {
  color: red;
}

/** Child Selector */
/*! p elements which have parent named box */
.box > p {
  color: blue;
}

.box > h1 {
  color: purple;
}

/* * General Child Selector */
/* ! All p elements after the 'box' div has been closed. */
/* ! NOT: Kapanan div ile ayni parent a sahip olan tum p leri secer */
.box ~ p {
  color: green;
}

/* * Adjacent Sibling Selector */
/* ! The first element after the box has been closed. */
.box + p {
  color: fuchsia;
}

/* ? P elementinden sonraki ilk h1 */
/* ? Block elementlere vertical-align kullanamazsiniz */
p + h1 {
  font-size: 1rem;
  margin: 3rem;
  width: 8rem;
  height: 8rem;
  border: 2px solid red;
  border-radius: 50%;
  text-align: center;
  padding-top: 3.3rem;
}

p + h1:hover {
  outline: 3px solid purple;
  /* outline-style: double; */
  outline-offset: 3px;
}
