.yazi {
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto;
  width: 50vw;
}

/* ******** TRANSFORM-ROTATE ************ */
/* rotate içinde ... degree (deg) olarak değer verilir */
/* 90 ve 270 deerelecelerde yazılar tam dik olduklarından ve 
      3 boyutlu olarak bakamadığımız için gözükmezler */
.yazi1 {
  background-color: chocolate;
  transform: rotateX(180deg);
}
.yazi2 {
  background-color: crimson;
  transform: rotateY(180deg);
}
.yazi3 {
  background-color: greenyellow;
  transform: rotate(-30deg);
  transform-origin: left center;
}

/* ******** TRANSFORM-SCALE ************ */
/* scale boyutlandırma için kullanılır */
.yazi4 {
  background-color: indianred;
  transform: scaleX(1.5);
}

.yazi5 {
  background-color: cornflowerblue;
  transform: scaleY(2);
}

.yazi6 {
  background-color: darkgreen;
}
/* 
  .yazi6:hover {
    transform: scale(2) rotate(60deg); 
  } */

img {
  transform: rotate(0deg);
}

/* ************* -TRANSFORM- TRANSLATE ********* */
/* Translate öteleme,hareket ettirmek için kullanılır. */

.box {
  background-color: crimson;
  width: 100px;
  font-weight: 800;
  height: 50px;

  /* transition-property: width;
      transition-duration:2s;
      transition-delay: 2s;
      transition-timing-function: ease; */

  /* shorthand */
  /* transition: background-color 3s, width 3s,height 3s; */
  transition: all 2s ease-in-out 1s;
}

/* .X:hover{
      /* transform: translateX(50px);
      width: 200px;
      height: 200px;
      background-color: cadetblue;
      color:white;
    
  }
  
  .Y{
      transform: translateY(150px);
  }
  .XY{
      transform:translate(100px,50px)
  }
  
  .XY:active{
   transform: translate(-50px,40px)
  } */

.btn-div {
  text-align: center;
}

.btn {
  background-color: rgb(8, 129, 170);
  border: 2px solid gray;
  padding: 20px;
  font-size: 1.3rem;
  border-radius: 5px;
  transition: background-color 3s cubic-bezier(0, 1.09, 1, 0.11), color 1s;
}

.btn:hover {
  background-color: rgb(225, 31, 13);
  border-radius: 25px;
  width: 200px;
  color: white;
}
