* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
  height: 100%;
}

.background-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  background-image: url(./img/bg.jpg);
  min-height: 100%;
}

.img2 {
  background-image: url(./img/bg2.jpg);
  min-height: 80%;
}

.img3 {
  background-image: url(./img/bg3.jpg);
  min-height: 80%;
}

.img4 {
  background-image: url(./img/bg4.jpg);
  min-height: 80%;
}

.img5 {
  background-image: url(./img/bg.jpg);
  min-height: 80%;
}

.heading-container {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: white; 
}

.heading-big {
  background-color: black;
  outline-offset: 1rem;
  outline: 0.5rem inset purple;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  line-height: 5rem;
}

.heading--logo {
  width: 30%;
  margin: 1rem;
}

.heading-small {
  background-color: black;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline-offset: 0.2rem;
  outline: 0.4rem inset purple;
  line-height: 5rem;
}

.section {
  text-align: center;
  padding: 3rem 5rem;
}

.section-light {
  background-color: rgb(241, 241, 241);
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}


