* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", cursive;
  font-size: 20px;
  background-image: url(https://cdn.pixabay.com/photo/2017/10/13/14/15/fantasy-2847724_960_720.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  /* ! Body doesn't have default height */
  /* ! The surface of the browser page we see on the screen.
     ! 100% of the screen we see on the browser. I will cover this later.*/
  height: 100vh;
}

h1 {
  padding: 20px 0;
  text-align: center;
  color: rgb(15, 11, 11);
}

form {
  /*Ic hacim vermek icin onemli padding*/
  /*the width of the content -> fit-content*/
  background-image: linear-gradient(rgb(68, 45, 45), rgb(207, 186, 186));
  width: fit-content;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
}

label {
  /*Label is inline element, width property doesn't work properly*/
  display: inline-block;
  width: 100px;
}

.lang-div,
.gender-div {
  display: inline-block;
}

.lang-div label,
.gender-div label {
  width: auto;
  margin-right: 10px;
}

.inputs {
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /*
  none
  alpha -> means opacity / Transparency

  */
}

.radio-check {
  margin-bottom: 20px;
  /*margin-left: 10px;*/
}

.btn-container {
  text-align: center;
}

.btn-container input {
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: hsl(300, 2%, 34%);
  padding: 10px;
  margin-top: 20px;
}

.btn-container input:hover {
  background-color: hsl(300, 2%, 40%);
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
  /* pointer -> hand icon */
}

.textarea-div * {
  vertical-align: middle;
}
/* * -> All element are going to the middle wiht it / Seleck all element in this div of a class*/
