.red {
    color: red;
  }
  .center {
    text-align: center;
  }
  .bg-tomato {
    background-color: tomato;
  }

  #par:hover{
    font-size: 1.2rem;
    color: white;
    background-color: blue;
  }