* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//********************************************/
//* Variable Declaration
//********************************************/
$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

body {
  background-color: $bgColor;
  font-family: $fontFamily;
}
