* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//********************************************/
//* Variable Declaration
//********************************************/
$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$navBgColor: #30a7c3;
$bannerBgColor: hotpink;
$myBorder: 2px solid brown;
$fontColor: white;

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

//********** HEADER ***********//

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 10px;
  }

  ul {
    list-style-type: none;
    li {
      display: inline;
      padding: 0.5rem;
      &:hover {
        text-decoration: underline;
        font-size: $fontSize + 0.05rem;
      }
    }
    
  }

  a {
    color: $fontColor;
    text-decoration: none;
  }
}
