.outer{
    background-color: rgb(114, 29, 46);
    width: 500px;
    height: 500px;
}

.inner{
    background-color: gray;
    width: 50%;
    height: 50%;

   animation-name: move;
   animation-duration: 2s;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateY(100%);
    }
    66%{

    }
    100%{

    }
}
