h1{
    font-size: 20px;
    font-weight: 600;
}

h2{
    font-size: 20px;
    font-weight: 600;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

h4{
    font-size: 20px;
    font-weight: 600;
}

