* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*! 4  *  1f column */
  grid-template-rows: repeat(4, 25vh);
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.content {
  background-color: bisque;
  border: 2px solid black;
}
