* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 1fr 4fr 1fr;
    text-align: center;
  }
  
  header {
    grid-column: span 12;
  }
  
  header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav {
    grid-column: span 12;
    background-color: lightgreen;
  }
  aside {
    grid-column: span 3;
    background-color: crimson;
  }
  main {
    grid-column: span 9;
    background-color: tomato;
  }
  
  footer {
    grid-column: span 12;
    background-color: lightblue;
  }
  